/testrec/

*.flv
*.mp4
*.ts
*.mkv
*.part
*.mpg

*~

*.exe
*.dll
*.exe.config

*.xml
*.m3u8

*.bin
*.zip
*.txt
*.conf

*.db
*.pem
*.sqlite
*.sqlite3
*-journal

!changelog.txt
