/testrec/

*.flv
*.mp4
*.ts
*.mkv
*.part
*.mpg
*.webm


*~

*.exe
*.dll
*.exe.config

*.xml
*.m3u8

*.bin
*.zip
*.txt
*.conf

*.db
*.pem
*.ass
*.sqlite
*.sqlite3
*-journal
*.sqlite3-shm
*.sqlite3-wal

!changelog.txt

